# exclude folders including only .mat files
EEG_data_readout/
EEG_artifact_masks/

# local matlab settings
mwfgui_localsettings.m

# exclude figures
*.pdf
*.eps
*.fig

# exclude data files
*.mat

# temporary files
*.asv
*.m~
