# exclude folders including only .mat files
EEG_data_readout/
EEG_artifact_masks/
EEG_data_synthetic/

# local matlab settings
*_localsettings.m

# exclude figures
*.pdf
*.eps
*.fig

# exclude data files
*.mat

# temporary files
*.asv
*.m~
